@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

body {
  background: #f4f4f4;
}

h1, h2, h3, h4, h5 {
  font-family: "Noto Serif", sans-serif;
}

.pswp__bg {
  background: rgb(210, 210, 210) !important;
}

img {
  max-width: 100%;
}

.pswp__button--close {
  margin: 2px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  border-radius: 50%;
  background-color: grey !important;
}

@media only screen and (max-width: 1041px) {
  .pswp__button--close {
    margin: 2px !important;
    position: absolute !important;
    bottom: 0 !important;
    left: calc(50% - 20px);
  }
}

.pswp__button--close:hover {
  cursor: pointer !important;
}

.pswp__item {
  pointer-events: none;
}

.pswp__container {
  pointer-events: none;
}

.pswp__scroll-wrap {
  padding: 100px !important;
  margin-left: 350px !important;
  width: calc(100% - 350px) !important;
}

.pswp__top-bar {
  display: none;
}

.sidebar {
  opacity: 0;
  transition: opacity 2000ms;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  z-index: 99999999;
}

.pswp__item {
  padding: 0 40px 0 40px;
}

.custom-image-caption {
  margin-left: 10px !important;
}

/*.pswp__img {
  margin-left: 350px;
  padding-right: 350px !important;
  height: auto !important;
}

.pswp__button--arrow--left {
  margin-left: 350px !important;
}

.pswp__top-bar {
  display: none;
}

.pswp__button--close {
  border: 2px solid red;
}

.custom-image-caption {
  margin-left: 10px !important;
}*/
